body {
    background-color: #F2D794;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A73A2E;
    color: white;
}

.btn {
    background-color: #A73A2E;
    color: white;
}
.navigation{
    background-color: #a73a2e;
}
.bg-custom{
    background-color: #c37738 !important;
}